{% extends '_base.html' %}

{% block title %}
    {{ note.title }} | {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="main main-raised">
        <div class="container">
            <div class="row">
                <div class="col-8 text-center ml-auto mr-auto">
                    <h2>{{ note.title }}</h2>
                </div>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <div class="container">
                            <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                            </button>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                {% if note.display_confirmation %}
                    <div class="row">
                        <div class="col text-center">
                            <h5>Opening this note will destroy it</h5>
                            <h5>Do you want to continue?</h5>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-6 ml-auto mr-auto">
                        <div class="form-group has-default bmd-form-group">
                            <label for="password" class="bmd-label-floating">Password</label>
                            <input class="form-control" type="password" name="password" id="password">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mr-auto ml-auto mb-5">
                        <input class="btn btn-primary btn-block" type="submit" value="Continue">
                    </div>
                </div>
            </form>

        </div>

    </div>
{% endblock %}